<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav__list collapsible__content">
    <list class="nav__item"><a class="nav__ankar" href="#">Hosting</a></list>
    <list class="nav__item"><a class="nav__ankar" href="#">VPS</a></list>
    <list class="nav__item"><a class="nav__ankar" href="#">Domain</a></list>
    <list class="nav__item"><a class="nav__ankar" href="#">Pricing</a></list>
  </ul>
</nav>
